#credit-card-modal.modal.hide
  .modal-header
    .close{"data-dismiss" => "modal"} x
    %h3 Enter your Payment Information
  %form#payment-form{:action => "", :method => "POST"}
    .modal-body
      .card-info
        .card-row
          %label Card Number
          %input.input-medium.card-number{:autocomplete => "off", :placeholder => "4242 4242 4242 4242", :size => "20", :type => "text"}
            %img.card-icon{:src => "/images/cc/generic.png"}
        .cvc-and-expiration-row
          .cvc-group
            %label CVC
            %input.input-mini.card-cvc{:autocomplete => "off", :placeholder => "123", :size => "4", :type => "text"}
          .expiration-group
            %label Expiration Date
            %input.input-mini.card-expiry-month{:placeholder => "MM", :size => "2", :type => "text"}
              %input.input-mini.card-expiry-year{:placeholder => "YYYY", :size => "4", :type => "text"}
          .clearfix
        .payment-errors
    .modal-footer
      .center
        %a.btn.submit-button.btn-danger.btn-large{href: "#", "ng-click" => "chargeAndDeliver()"}
          %i.icon-lock.icon-white 
          Deliver my postcard.
        %p
          %small
            Create and mail this postcard for <em>$1.99</em>.

:javascript
  $(function() {
    new CreditCard;
  });