%a.pin-it-button{"count-layout" => "horizontal", :href => "//pinterest.com/pin/create/button/?url=https%3A%2F%2Fpostcongress.io&media=https%3A%2F%2Fpostcongressproduction.s3.amazonaws.com%2Fimages%2Fbgs%2F#{@bg_number}.jpg&description=Postcongress.io%20-%20Send%20a%20postcard%20to%20your%20congressman"}
  %img{:border => "0", :src => "//assets.pinterest.com/images/PinExt.png", :title => "Pin It"}/
  %small Pins the background photo.